
.navbar a{

color:white;
margin-left:15px;
text-decoration:none;

}
body{

margin:0;
font-family: Arial, Helvetica, sans-serif;

background: linear-gradient(
135deg,
#4c1d95,
#6b21a8,
#312e81
);

color:white;

}
.navbar{

display:flex;
align-items:center;
justify-content:space-between;

padding:12px 30px;

background:#0f172a;

}

.logo{

display:flex;
align-items:center;
gap:10px;

font-weight:bold;
font-size:18px;

color:white;

}

.logo img{

width: 82px;;
height: 82px;;

object-fit:contain;

}

card-container{
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    margin-top: 60px;
}

.search{

width:300px;
padding:8px;

border-radius:8px;
border:none;

}

.navbar a{

color:white;
margin-left:15px;
text-decoration:none;

}
