body{

margin:0;
font-family: Arial, Helvetica, sans-serif;

background: linear-gradient(
135deg,
#4c1d95,
#6b21a8,
#312e81
);

color:white;

}


/* NAVBAR */

.navbar{

display:flex;
align-items:center;
justify-content:space-between;

padding:12px 30px;

background:#0f172a;

}

.logo{
font-weight:bold;
}

.search{

width:300px;
padding:8px;

border-radius:8px;
border:none;

}

.navbar a{

color:white;
margin-left:15px;
text-decoration:none;

}


/* CONTENEDOR */

.container{

max-width:1000px;
margin:auto;
margin-top:60px;

display:flex;
flex-wrap:wrap;
gap:20px;
justify-content:center;

}


/* TITULO */

h1{

text-align:center;

}

.subtitle{

text-align:center;
opacity:0.8;

}


/* TARJETAS */

.card{

background:rgba(255,255,255,0.08);

border-radius:10px;

padding:20px;

margin-top:20px;

backdrop-filter: blur(5px);

}


/* SELECT */

select{

width:100%;
padding:10px;

border-radius:8px;

border:1px solid rgba(255,255,255,0.2);

background:#2a1b55;

color:white;

font-size:14px;

cursor:pointer;

}

option{

background:#2a1b55;
color:white;

}
.logo{

display:flex;
align-items:center;
gap:10px;

font-weight:bold;
font-size:18px;

color:white;

}

.logo img{

width:120px;
height:40px;

object-fit:contain;

}